*                               export-ignore

src                             -export-ignore
src/**                          -export-ignore
LICENSE                         -export-ignore
readme.txt                      -export-ignore
fields-and-file-upload.php      -export-ignore
uninstall.php                   -export-ignore