<?xml version="1.0"?>
<ruleset>
	<!-- What to scan -->
	<file>.</file>
	<exclude-pattern>/vendor/</exclude-pattern>
	<exclude-pattern>/node_modules/</exclude-pattern>
	<exclude-pattern>/svn-repo/</exclude-pattern>

	<!-- How to scan -->
	<!-- Usage instructions: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
	<!-- Annotated ruleset: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<arg value="sp" /> <!-- Show sniff and progress -->
	<arg name="basepath" value="./" /><!-- Strip the file paths down to the relevant bit -->
	<arg name="colors" />
	<arg name="extensions" value="php" />
	<arg name="parallel" value="8" /><!-- Enables parallel processing when available for faster results. -->

	<!-- Rules: Check PHP version compatibility -->
	<!-- https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="7.0-" />
	<!-- https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP" />

	<!-- Rules: WordPress Coding Standards -->
	<!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
	<!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties -->
	<config name="minimum_supported_wp_version" value="4.6" />

	<rule ref="WordPress">
		<exclude name="Universal.Operators.DisallowShortTernary" />
		<exclude name="Universal.Arrays.DisallowShortArraySyntax" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching" />
		
		<properties>
			<property name="custom_test_classes" type="array" value="CFFU_Plugin\Unit_Test_Case" />
		</properties>
	</rule>
	
	<rule ref="Generic.Arrays.DisallowLongArraySyntax" />
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<exclude-pattern>*/tests/*</exclude-pattern>
		<properties>
			<property name="prefixes" type="array" value="CFFU"/>
		</properties>
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="fields-and-file-upload"/>
		</properties>
	</rule>
	<rule ref="WordPress.WP.Capabilities">
		<properties>
			<property name="custom_capabilities" type="array" value="manage_woocommerce" />
		</properties>
	</rule>
	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="blank_line_check" value="true" />
		</properties>
	</rule>
	<rule ref="WordPress.Security.NonceVerification">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.FunctionComment.Missing">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="Generic.Commenting.DocComment.MissingShort">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="PHPCompatibility.FunctionDeclarations.NewReturnTypeDeclarations.voidFound">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
</ruleset>