.woocommerce-order-received .cffu-order-details {
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.woocommerce-order-received .cffu-order-detail {
    padding: 1em;
}

.woocommerce-order-received .cffu-order-detail:not(:first-child) {
    border-top: 1px solid #bbb;
}

.cffu-order-detail:not(:first-child) {
    border-top: 1px solid #ddd;
}

.woocommerce .cffu-order-detail {
    border-color: #bbb;
}

.cffu-order-detail:not(:first-child) {
    padding-top: 1em;
}

.cffu-order-detail:not(:last-child) {
    padding-bottom: 1em;
}

.cffu-file-field {
    display: flex;
    column-gap: 1em;
    flex-wrap: wrap;
}

.cffu-file-field figure {
    margin: 0;
} 

.cffu-file-field object {
    width: 10em;
    vertical-align: bottom;
    margin-top: 8px;
}